* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font family */
body {
  font-family: "Open Sans", sans-serif;
}
.primary {
  color: #fd6e0a;
}
/* nav related styles styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 200px;
}
.nav_title {
  color: #181818;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}
.nav > ul {
  display: flex;
  align-items: center;
}
.nav > ul li {
  list-style: none;
  margin-right: 50px;
}
.nav > ul > li a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
  padding: 18px;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  font-weight: 700;
  border: none;
  color: #fff;
}
.btn {
  padding: 17px 35px;
  font-size: 20px;
}
.header {
  background-color: #fff8f3;
  background-image: url("./images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
/* banner related styles */
.banner {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px 30px 0 200px;
}
.banner-content {
  display: flex;
  flex-direction: column;
}
.banner-content > h3 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}
.banner-content > h1 {
  color: #181818;
  font-size: 85px;
  font-weight: bold;
}
.banner-content P {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  margin: 20px 0;
}
.down-btn {
  display: flex;
  align-items: center;
  padding: 18px 17px;
  font-size: 20px;
  color: #fff;
  margin-right: 30px;
}
.con-btn {
  display: flex;
  align-items: center;
  padding: 18px 17px;
  font-size: 20px;
  color: #fff;
}
.btn-parent {
  display: flex;
  align-items: center;
}
.btn-parent img {
  width: 24px;
  height: 24px;
}
/* Banner image  */
.banner-image imj {
  width: 570px;
  height: 680px;
}
