* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
/* font family */

body {
  font-family: "Open Sans", sans-serif;
}
.primary {
  color: #fd6e0a;
}
/* ================ Banner Start ====================  */
/* nav related styles styles */
.dev_img {
  position: absolute;
  left: 25px;
  top: 38px;
  height: 710px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 200px;
}
.nav_title {
  color: #181818;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
}
.nav > ul {
  display: flex;
  align-items: center;
}
.nav > ul li {
  list-style: none;
  margin-right: 50px;
}
.nav > ul > li a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
  padding: 18px;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  font-weight: 700;
  border: none;
  color: #fff;
}
.btn {
  padding: 17px 35px;
  font-size: 20px;
}
.header {
  background-color: #fff8f3;
  background-image: url("./images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
/* banner related styles */
.banner {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px 30px 0 200px;
}
.banner-content {
  display: flex;
  flex-direction: column;
}
.banner-content > h3 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}
.banner-content > h1 {
  color: #181818;
  font-size: 85px;
  font-weight: bold;
}
.banner-content P {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  margin: 20px 0;
}
.down-btn {
  display: flex;
  align-items: center;
  padding: 18px 17px;
  font-size: 20px;
  color: #fff;
  margin-right: 30px;
}
.con-btn {
  display: flex;
  align-items: center;
  padding: 18px 17px;
  font-size: 20px;
  color: #fff;
}
.btn-parent {
  display: flex;
  align-items: center;
}
.btn-parent img {
  width: 24px;
  height: 24px;
}
/* Banner image  */
.banner-image imj {
  width: 570px;
  height: 680px;
}
/* ================ Banner End ====================  */

/* ================ About Section Start ==================  */
main {
  margin: 130px 200px;
}
.about {
  border-radius: 10px;
  background: #fff8f3;
  padding: 130px 50px;
}
.about_parent {
  display: flex;

  flex-direction: column;
  align-items: center;
}
.about_parent > h2 {
  color: #181818;
  font-weight: bold;
  font-size: 35px;
}
.about_parent > p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  text-align: center;
  margin: 30px 0;
}
.info_box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.info_box div {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  text-align: center;
}
.info_box div span {
  color: #757575;
  font-size: 20px;
  line-height: 30px;
  display: block;
}
.info_box > div strong {
  font-size: 20px;
  line-height: 30px;
}
/* ================ About Section End ==================  */
/* ================ What I Do Section  Start ================ */
.what_i_do > div {
  margin-top: 130px;
}
.what_i_do > div > h2 {
  font-size: 35;
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
}
.what_i_do > div > p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  text-align: center;
}
.skills_parent {
  display: flex;
  margin-top: 50px;
}
.skills_parent > div {
  padding: 30px 33px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skills_parent :nth-child(1) {
  margin-right: 24px;
}
.skills_parent :nth-child(2) {
  margin-right: 24px;
}
.skills_parent :nth-child(3) {
  margin-right: 24px;
}
.skills_parent > div h3 {
  color: #181818;
  font-size: 20px;
  margin: 30px 0;
}
.skills_parent > div p {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

/* ================ What I Do Section  End ================ */
/* ================ Summary Of My Reusme Section start ================= */
.resume_summary > h2 {
  margin-top: 130px;
  margin-bottom: 112px;
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  text-align: center;
}
.resume_parent {
  display: flex;
  margin-bottom: 50px;
}
.eduction_parent {
  margin-right: 71px;
}
.eduction_parent > h2 {
  color: #474747;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}
.eduction_parent > div > h3 {
  color: #474747;
  font-size: 25px;
  font-weight: bold;
}
.eduction_parent > div > span {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}
.eduction_parent > div > p {
  margin-top: 20px;
  font-size: 16px;
  color: #757575;
  padding-bottom: 30px;
}
.eduction_parent > hr {
  margin-bottom: 30px;
  background: #d1d1d1;
  height: 1px;
}
/* Exprience parent ================ */

.exprience_parent > h2 {
  color: #474747;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}
.exprience_parent > div > h3 {
  color: #474747;
  font-size: 25px;
  font-weight: bold;
}
.exprience_parent > div > span {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}
.exprience_parent > div > p {
  margin-top: 20px;
  font-size: 16px;
  color: #757575;
  padding-bottom: 30px;
}
.exprience_parent > hr {
  margin-bottom: 30px;
  color: #d1d1d1;
  height: 1px;
}
.down_btn {
  padding: 10px;
}
.resume-down-btn {
  margin: auto;
}
/* ================ Summary Of My Reusme Section end ================= */
/* =============== Footer Section Start =============== */
footer {
  background: #fff8f3;
}
.footer_parent {
  display: flex;
  gap: 110px;
  margin: 0px 200px;
  padding: 140px 0;
  justify-content: space-around;
}
.left_footer > h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  width: 50%;
}
.left_footer > p {
  font-size: 16px;
  line-height: 28px;
  color: #474747;
  margin-top: 20px;
  margin-bottom: 30px;
}
.footer_icon_parent {
  display: flex;
  gap: 24px;
}
/* right_footer */
.right_footer > h2 {
  color: #181818;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 28px;
}
form > input,
textarea {
  width: 100%;
  border: none;
  margin-bottom: 24px;
  padding: 18px 30px;
}
form input::placeholder {
  color: #757575;
  font-size: 16px;
}
form textarea::placeholder {
  color: #757575;
  font-size: 16px;
}

/* =============== Footer Section End =============== */
